apiVersion: v1
kind: ServiceMonitor
metadata:
  name: backend-monitor
  namespace: quibly
spec:
  selector:
    matchLabels:
      app: backend
  endpoints:
  - port: metrics
    interval: 30s
---
apiVersion: v1
kind: ServiceMonitor
metadata:
  name: frontend-monitor
  namespace: quibly
spec:
  selector:
    matchLabels:
      app: frontend
  endpoints:
  - port: metrics
    interval: 30s
